@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    margin: 0;
}

#title {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
}

section {
    background-color: black;
    color: aliceblue;
    padding: 2rem;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 235px;
    padding: 16px;
}

#logo {
    width: 120px;
    align-self: flex-start;
    left: 20px;
    top: 20px;
}

header {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

#background {
    position: absolute;
    width: 800px;
    height: 800px;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10) scale(2);
}

#mulherla {
    
}

#homemla {

}

#blobmoca {
    z-index: -1;
}

#blobcara {
    z-index: -1;
}