@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    margin: 0;
}

#title {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
}

section {
    background-color: black;
    color: aliceblue;
    padding: 2rem;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

#textnav {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.dlc {
    color: #111;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

.dlc::after {
    content: "";
    position: absolute;
    background-color: #ff7445a6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.dlc:hover::after {
    width: 100%;
}

#buttnav {
    width: 117px;
    height: 43px;
    border: 1px solid #FF8551;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #32323200;
    color: #323232;
    cursor: pointer;
    font-size: 16px;
}

#logo {
    width: 110px;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    position: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    bottom: -50px;
    transform: perspective(10px) translateZ(-10px);
}

#background {
    transform: scale();
}

#title  {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100000px;
    text-align: center;
}

#mulherla {
    
}

#homemla {

}

#blobmoca {
    z-index: -1;
}

#blobcara {
    z-index: -1;
}