@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #1e1e1e00;
    font-size: 100%;
    overflow-x: hidden;
    background-image: url(../img/bgprp.svg);
    background-position: cover;
    background-size: 200vh;
    background-repeat: no-repeat;
}

#bg {
    background-image: url('bgprp.svg');
    background-position: right top;
}

#purpbg {    
    position: absolute;
    width: 150%;
    height: 100%;
    z-index: -1;
}

#navbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

#logo {
    height: 60px;
}

#textnav {
    display: flex;
    color: #121212;
    gap: 200px;
    font-size: 16px;
    line-height: 28px;
}

.navtex {
    color: #252525;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

.navtex::after {
    content: "";
    position: absolute;
    background-color: #252525;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navtex:hover::after {
    width: 100%;
}

#buttlog {
    width: 100px;
    height: 40px;
    background-color: #ffffff00;
    border: 1px solid #141414;
    color: #141414;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

header {
    height: 100vh;
}

#main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
}

#textmexedor {
    width: 550px;
    margin-top: -160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textmain {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #603567;
    display: flex;
    justify-content: center;
    text-align: center;
}

#conect {
    width: 170px;
    height: 45px;
    margin-top: 20px;
    background: linear-gradient(94.43deg, #5E33F5 8.76%, #A639B9 93.6%);
    border-radius: 48px;
    cursor: pointer;
    font-size: 14px;
    color: #fffefef4;
    border: #1e1e1e00;
    
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#imgright {
    align-self: center;
    margin-top: -160px;
}

#purpilu {
    width: 480px;
    animation: float 6s ease-in-out infinite;
}

.section2 {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}

#titlesec2 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #603567;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.card {
    transition: 0.8s;
    font-family: 'Roboto', sans-serif;
    color: #3C3838;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 260px;
    background: linear-gradient(149.87deg, #D9D9D9 3.83%, rgba(217, 217, 217, 0) 94.43%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

#imgcard1 {
    width: 150px;
}

#imgcard2 {
    width: 130px;
}

#imgcard3 {
    width: 110px;
}

#p1card {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#p2card {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#p3card {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.section3 {
    display: flex;
    margin-top: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
}

#titlesec3 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #603567;
}

#sec3things {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 65px;
}

#textcontnos {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 0.4px;
    font-size: 20px;
}

#buttcontnos {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    border: #3c383800;
    background: linear-gradient(94.43deg, #cb00f9 8.76%, #ea22cc 93.6%);
    border-radius: 40px;
    cursor: pointer;
}

#text-butt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #422034d2;
}

#ilustsec3 {
    width: 400px;
}

#foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 170px;
    border-top: 1px solid rgba(51, 51, 51, 0.15);
}

#foot h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(66, 66, 66);
}

#foot p {
    font-family: 'Raleway', sans-serif;
    color: #777777;
}

.textfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


