@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/


#logo {
    width: 100px;
}

body {
    background-color: #1e1e1e10;
    font-size: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardreg {
    margin-top: -50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 486px;
    height: 655px;
    background: #FCFCFC;
    border: 1px solid rgba(201, 201, 201, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inputBox {
    position: relative;
    width: 400px;
    margin-top: 30px;
}

#atuationArea {
    width: 330px;
    color: #632b4c;
}

#atAreaLabel {
    color: #632b4c;
}

.inputBox .inputReal {
    padding: 14px;
    width: 300px;
    margin-left: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #1e1e1e69;
}

.labeltext {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #632b4c;
    top: 5%;
    left: 38px;
    transform: translateY(-60%);
    transition: all .4s ease;
    padding: 5px;
    background-color: #fcfcfc;
    pointer-events: none;
    font-size: 13px;
}

#logoADC {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 19px;
    text-decoration: underline;
}

#textemp {
    font-family: 'Raleway', sans-serif;
    color: #632b4c;
    margin-top: 50px;
    font-size: 40px;
}

#cadastrar {
    margin-top: 13px;
    cursor: pointer;
    width: 180px;
    height: 45px;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
    border-color: #42203400;
    background: linear-gradient(93.19deg, rgba(94, 51, 245, 0.88) 0%, rgba(10, 0, 46, 0.748) 100%);
}